node_modules
out
dist
src__defunct__
wsl-install
win-install
test-bin
pwsh-*.tgz
test/real
test/prefix-link-*
test/.npmrc
test/shrinkwrap.yaml
test/node_modules
test/package-lock.json
/.vscode
/pwsh
/packages
